body{
	font-family: 'Noto Sans KR', sans-serif;
}

nav.navbar .container-fluid{
	background-color: rgb(239, 239, 239);
	border-bottom: 3px solid rgb(47, 47, 47);
}

nav.bg-body-tertiary{
	padding-top : 0;
    padding-bottom: 0;
}

.navbar-brand{
    font-size: 35px;
	margin-left:20px;
}

.navbar form.d-flex{
	margin-right:30px;
}

.fa-circle-user{
    color:rgb(170, 170, 170);
    margin-left:20px;
}

.nav-user{
    margin-right:30px;
}

.nav-item{
    margin-left:70px;
    font-size:18px;
    align-items: center;
}

.dropdown-item{
    margin-right:0px;
}

.dropdown-item:hover{
    background-color: rgb(75, 75, 75);
    color:white;
}

.dropdown-item:active{
    background-color: rgb(75, 75, 75);
    color:white;
}

.dropdown-toggle::after {
    display:none;
}

.catewrap{
    width:300px;
    height:1570px;
    background-color: #e7f4ff;
    float:left;
    position:relative;
    z-index:1;
}

.catewrap h2{
    text-align:center;
    margin-top:20px;
}

.catewrap .cate h4{
    margin-top:50px;
    margin-left:10px;
}

.catewrap a {
    text-decoration: none;
    color:#212529;
}

.catewrap .cate h4:hover{
    color:rgb(25, 108, 233);
    cursor: pointer;
}

.badge{
    background-color: #67b0ff;
}

.catewrap .cate .active{
    color:rgb(25, 108, 233);
}

.checkwrap{
    width:1600px;
    height:220px;
    background-color: rgb(238, 238, 238);
    float:left;
    border-bottom: 1px solid gray;
}

.checkwrap .checkgps{
    float:right;
    font-size: 20px;
    margin-right:50px;
    margin-top:10px;
}

.checkwrap .gpschange{
    float:right;
    font-size: 15px;
    color:blue;
    margin-top:10px;
}

.checkwrap .gpschange:hover{
    cursor: pointer;
}

.checkwrap .check{
    margin-left: 100px;
    margin-top: 20px;
}

.checkwrap .check .checkbox{
    margin-top:13px;
    font-size: 20px;
    vertical-align: middle;
    font-weight: 500;
}

.checkwrap .check .checkbox input{
    margin-left:50px;
    font-size:17px;
}

 .checkwrap .check .checkbox label{
    margin-left:10px;
    margin-bottom:10px;
    font-size: 17px;
    vertical-align: middle;
    font-weight: 300;
}

.checkresult{
    float : left;
    width:1600px;
}

.checkresult .resultcheck{
    margin-left:1200px;
    margin-top:20px;
}

.checkresult .resultcheck .checked{
    float : left;
    margin-right:10px;
}

.checkresult .resultcheck .checked:hover{
    color:rgb(46, 46, 216);
    cursor: pointer;
}

.checkresult .resultcheck .checkeded{
    float : left;
    margin-right:10px;
}

.checkresult .resultcheck .active{
    color:rgb(46, 46, 216);
    font-weight: 500;
}

.checkresult .results{
    height:100vh;
    width:1600px;
}

.checkresult .results img{
	width:200px;
	height: 180px;
	object-fit: cover;
}

.checkresult .results a{
	text-decoration: none;
}

.checkresult .results .cards{
	margin-top:5px;
    margin-left:150px;
    float:left;
}

.checkresult .results .card-body .card-title{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkresult .results .card-body .card-title .score{
	color:rgb(68, 68, 211);
    font-size:25px;
    float:right;
    font-weight: 700;
}

.checkresult .results .card-body .card-text{
	word-wrap : break-word;
	text-align : left;
	display: -webkit-box;
	-webkit-line-clamp: 3 ;
	-webkit-box-orient: vertical ;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.pagination{
    float:right;
    margin-right:650px;
    margin-top:30px;
}